/* .nav-menu {
  background: black;
  height: 100vh;
  width: 250px;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
} */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  font-family: "Ubuntu Mono", monospace;
}
